{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["prettier", "@typescript-eslint", "testing-library", "jest-dom", "import"],
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".ts", ".js"]
      }
    }
  },
  "env": {
    "node": true,
    "jest": true
  }
}
